(cors) {
    @origin header Origin {args.0}
    header @origin Access-Control-Allow-Origin "{args.0}"
    header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
  }

https://192.168.246.145 {
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem
    respond "Hello, world!"
}

localhost {
	tls internal
	respond "benis"
}

benis.de {
    tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

    # Handle CORS preflight requests
    @preflight {
        method OPTIONS
        header Access-Control-Request-Method *
        header Origin *
    }
    handle @preflight {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "*"
        header Access-Control-Allow-Headers "content-type"
        header Access-Control-Allow-Credentials "true"
        respond 200
    }

    reverse_proxy /* backend:8080
}
